*{
  box-sizing: border-box;
}

header{
  color: white;
  margin-top: 35px;
}
#title , #description {
  text-align: center;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#survey-form{
  background:  rgba(27, 27, 50, 0.8);
  padding: 2.0rem 1.625rem;
  border-radius: 0.25rem;
  color: white;
  max-width: 60%;
  margin: 0 auto;
}
p{
  text-decoration: bold;
  font-size: 18px;
}
.fix{
  margin-bottom: 0;
}
input , button , select{
  margin: 20px 0 10px;
}
label{
  display: block;
}
@media (min-width : 768px) and (max-width: 1024px){
  #survey-form{
    max-width: 70%;
  }
}
@media (max-width:  480px){
  #survey-form{
    max-width: 100%;
  }
}
